@use './base';

.about {
    background: base.dark(main);

    & > img {
        width: 300px;
    }

    article {
        h2 {
            margin-top: 2.5em;
            font-family: base.$ff-headings;
            font-size: 1.25rem;
        }

        p {
            margin: 1em 0;
            line-height: 1.5em;
        }

        .article__link {
            width: fit-content;
            padding-bottom: 0.25em;
            border-bottom: 1px solid base.$cyan;
            cursor: pointer;

            a {
                @include base.transition(color);
                padding-right: 0.5em;
                font-family: base.$ff-headings;
                font-size: 0.85rem;
                color: base.$cyan;
                text-decoration: none;
            }
        }
    }

    @include base.breakpoint(largescreen) {
        margin-top: 5em;
        background: base.dark(main);
        
        & > img {
            width: 600px;
        }

        article {
            padding-left: 4em;

            h2 {
                width: 80%;
                margin-top: 0.75em;
                font-size: 2.8rem;
            }

            p {
                font-size: 1.15rem;
            }

            .article__link {
                margin-top: 2em;

                a {
                    font-size: 1.1rem;
                }
                
            }
        }
    }
}
