@use './base';

body {
    background: base.dark(intro);
    font-family: base.$ff-default;
    color: base.$white;
    overflow-x: hidden;
}

.background {
    #{&}__image {
        height: 37.6vw;
        background-image: url('../images/bg-curvy-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    #{&}__color {
        height: 220vh;
        background: base.dark(main);
    }

    @include base.breakpoint(largescreen){
        #{&}__image {
            height: 31.2vw;
            background-image: url('../images/bg-curvy-desktop.svg');
        }

        #{&}__color {
            height: 150vh;
            background: base.dark(main);
        }
    }
}

header {
    overflow: hidden;

    img {
        width: 90px;
    }

    a {
        margin-left: 0.7em;
        margin-right: 0.7em;
        font-family: base.$ff-headings;
        font-size: 0.88rem;
        color: base.$white;
        text-decoration: none;
        letter-spacing: 0.05em;
    }

    @media (hover: hover) {
        a:hover {
            text-shadow: 0 0 1px white;
            text-decoration: underline;
        }
    } 

    a:active {
        text-shadow: 0 0 1px white;
        text-decoration: underline;
    }

    @include base.breakpoint(largescreen) {
        img {
            width: 175px;
        }

        a {
            margin-left: 2em;
            font-size: 1.15rem;
            letter-spacing: 0.1em;
        }
    }
}