@use './base';


.intro {
    margin-top: 1.25em;
    text-align: center;

    img {
        width: 300px;
    }

    #{&}__content {
        margin-top: 7em;

        &--box {
            h1 {
                font-family: base.$ff-headings;
                font-size: 1.7rem;
                line-height: 1.5em;
            }

            p {
                width: 92.5%;
                margin-top: 1em;
                line-height: 1.5em;
    
            }

            a {
                @include base.button(17em);
                margin-top: 2em;
                padding: 1em;
                text-decoration: none;
            }

            @media (hover:hover) {
                a:hover {
                    background: base.$cyan;
                }
            }

            a:active {
                outline: 2px solid base.$cyan;
                outline-offset: -1px;
            }
        }
    }

    @include base.breakpoint(largescreen){
        img {
            width: 675px;
        }

        .intro__content {
            width: 60%;
            margin-top: 7em;

            h1 {
                font-size: 2.8rem;
            }

            p {
                width: 80%;
                margin-top: 1.5em;
                font-size: 1.4rem;
                line-height: 1.65em;
            }

            a {
                padding: 1.1em;
                font-size: 1.25rem;
            }
        }
    }
}