@use './base';


.intro {
    margin-top: 2.25em;
    text-align: center;

    img {
        width: 300px;
    }

    #{&}__content {
        margin-top: 7em;

        &--box {
            h1 {
                font-family: base.$ff-headings;
                font-size: 1.7rem;
                line-height: 1.5em;
            }

            p {
                width: 92.5%;
                margin-top: 1em;
                line-height: 1.5em;
    
            }

            a {
                @include base.button(17em);
                margin-top: 2em;
                padding: 1em;
                text-decoration: none;
            }

            @media (hover:hover) {
                a:hover {
                    background: base.$cyan;
                }
            }

            a:active {
                outline: 2px solid base.$cyan;
                outline-offset: -1px;
            }
        }
    }

    @include base.breakpoint(smallscreen) {
        img {
            width: 250px;
        }

        .intro__content {
            h1 {
                font-size: 1.5rem;
            }
        }
    }

    @include base.breakpoint(tablet) {
        img {
            width: 335px;
        }

        .intro__content {
            width: 80%;

            h1 {
                font-size: 1.75rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.65em;
            }

            a {
                padding: 1.1em;
                font-size: 1.25rem;
            }
        }
    }

    @include base.breakpoint(laptop) {
        img {
            width: 420px;
        }

        .intro__content {
            width: 70%;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    }

    @include base.breakpoint(desktop) {
        img {
            width: 505px;
        }

        .intro__content {
            width: 60%;
            
            h1 {
                font-size: 2.25rem;
            }
        }
    }

    @include base.breakpoint(largescreen){
        img {
            width: 590px;
        }

        .intro__content {
            margin-top: 7em;

            h1 {
                font-size: 2.5rem;
            }

            p {
                width: 80%;
                margin-top: 1.5em;
                font-size: 1.3rem;
            }
        }
    }

    @include base.breakpoint(preview) {
        img {
            width: 675px;
        }

        .intro__content {

            h1 {
                font-size: 2.8rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }
}