@use './base';

.testimonials {
    padding-top: 10em;
    background: base.dark(main);

    img {
        width: 20px;
    }

    #{&}__card {
        margin-bottom: 2em;
        padding: 1.5em;
        border-radius: 5px;
        background: base.dark(testimonial);

        & > p {
            padding-top: 0.5em;
            font-size: 0.75rem;
            letter-spacing: 0.05em;
            line-height: 1.75em;
        }
    }

    #last-card {
        margin-bottom: 0;
    }

    &__profile {
        margin: 1.25em 0 0.25em;

        img {
            width: 30px;
            border-radius: 50%;
        }

        #{&}--description {
            margin-left: 0.75em;

            h3 {
                font-size: 0.75rem;
                letter-spacing: 0.05em;
            }

            p {
                font-size: 0.65rem;
                letter-spacing: 0.05em;
                line-height: 2em;
            }
        }
    }

    @include base.breakpoint(largescreen){
        background: base.dark(main);
        
        & > img {
            width: 50px;
            transform: translateX(-0.75em);
        }

        .testimonials__card {
            & > p {
                margin: 1em 0.5em 2em;
                font-size: 1rem;
            }
            
            .testimonials__profile {
                margin: 0 0.5em 0.75em;
                
                img {
                    width: 40px;
                }
                
                h3 {
                    font-size: 0.9rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
        #last-card {
            margin-bottom: 2em;
        }
    }
}