// Resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

// Variables
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

$dark-blue: (
    'intro': hsl(217, 28%, 15%),
    'main': hsl(218, 28%, 13%),
    'footer':  hsl(216, 53%, 9%),
    'testimonial': hsl(219, 30%, 18%)
);

$ff-headings: 'Raleway', sans-serif;
$ff-default: 'Open Sans', sans-serif;

$font-weights: (
    'default': 400,
    'bold': 700
);

// Functions
@function dark($color-name) {
    @return map-get($dark-blue, $color-name );
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name );
};

// Mixins
@mixin flexCenter($position, $direction) {
    display: flex;
    justify-content: $position;
    align-items: center;
    flex-direction: $direction;
}

@mixin button($width){
    width: $width;
    height: 3.5em;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, $cyan, $blue);
    font-family: $ff-headings;
    font-weight: weight(bold);
    color: $white;
    letter-spacing: 0.02em;
    cursor: pointer;
}

@mixin transition($target-name) {
    transition: $target-name 0.4s ease-in-out;
};

@mixin breakpoint($point) {
    @if $point == smallscreen {
        @media screen and (max-width: 330px) { @content; }
    }
    @else if $point == mobile {
        @media screen and (min-width: 330px) { @content; }
    }
    @else if $point == tablet {
        @media screen and (min-width: 480px) { @content; }
    }
    @else if $point == laptop {
        @media screen and (min-width: 768px) { @content; }
    }
    @else if $point == desktop {
        @media screen and (min-width: 1024px) { @content; }
    }
    @else if $point == largescreen {
        @media screen and (min-width: 1224px) { @content; }
    }
    @else if $point == preview {
        @media screen and (min-width: 1440px) { @content; }
    }
}