@use './base';

.background {
    height: 100vh;
    padding-top: 20em;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

header {
    @include base.flexCenter(space-between, row);
    padding: 2em 5% 1em;
}

.intro {
    @include base.flexCenter(center, column);

    #{&}__content {
        width: 100%;

        &--box {
            @include base.flexCenter(center, column);
            padding: 0 7.5%;
            transform: translateY(-4.5em);
        }
    }
}

.features__card, .about {
    @include base.flexCenter(center, column);
    padding: 0 7.5%;
}

.article__link {
    @include base.flexCenter(center, row);
}

.testimonials {
    align-items: flex-start;
    padding: 0 12.5%;

    &__profile {
        @include base.flexCenter(flex-start, row);
    }
}

.signup {
    @include base.flexCenter(center, column);
    padding: 0 5%;

    form {
        @include base.flexCenter(center, column);

        .email__container {
            width: 85%;
        }
    }
}

footer {
    padding: 12.5em 7.5% 2.5em;

    .info__position, .info__contact--phone, .info__contact--email {
        @include base.flexCenter(flex-start, row);
        align-items: flex-start;
    }

    .info__links--about, .info__links--terms {
        @include base.flexCenter(flex-start, column);
        align-items: flex-start;
    }

    .info__links--social {
        @include base.flexCenter(center, row);

        a {
            @include base.flexCenter(center, column);
        }
    }
}

// Desktop version
body {
    @include base.breakpoint(smallscreen) {
        .background {
            padding-top: 22.5em;
        }

        header {
            @include base.flexCenter(center, column);
        }
    }

    @include base.breakpoint(tablet) {
        .background {
            padding-top: 29.2em;
        }

        header {
            padding-top: 2em;
            padding-bottom: 1.5em;
        }

        main {
            @include base.flexCenter(center, column);

            .features {
                width: 80%;
            }

            .testimonials {
                padding-left: 15%;
                padding-right: 15%;
            }
        }
    }

    @include base.breakpoint(laptop) {
        .background {
            padding-top: 35.9em;
        }

        header {
            padding-top: 2.5em;
            padding-bottom: 2em;
        }

        main {
            .features {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 7em;
            }

            .about {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .testimonials {
                padding-left: 17.5%;
                padding-right: 17.5%;
            }

            .signup {
                width: 100%;

                form {
                    @include base.flexCenter(center, row);
                    align-items: flex-start;
                }
            }
            
        }

        footer {
            .info {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                column-gap: 5em;

                &__contact--phone, &__contact--email {
                    @include base.flexCenter(flex-end, row);
                }

                &__links--social {
                    @include base.flexCenter(flex-start, row);
                }
            }
        }
    }

    @include base.breakpoint(desktop) {
        .background {
            padding-top: 42.6em;
        }

        header {
            padding-top: 3em;
            padding-bottom: 2.5em;
        }
        main {
            .testimonials {
                padding-left: 20%;
                padding-right: 20%;
            }
        }
    }

    @include base.breakpoint(largescreen) {
        .background {
            padding-top: 49.3em;
        }

        header {
            padding: 4em 5%;
            padding: 3.5em 5% 3em;
        }

        main {
            @include base.flexCenter(center, column);

            .features {
                column-gap: 0em;
            }
        
            .about {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .testimonials {
                padding: 12.5em 10% 0;

                .testimonials__cards{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 2.5em;
                    transform: translateY(-1em);
                }
            }

            .signup {
                width: 100%;

                form {
                    @include base.flexCenter(center, row);
                    align-items: flex-start;
                }
            }
        }

        footer {
            img, .info {
                transform: translateX(1em);
            }
            
            .info {
                display: grid;
                grid-template-columns: 2fr 1.25fr 0.55fr 0.6fr 0.5fr;
                column-gap: 5em;

                &__contact--phone, &__contact--email {
                    @include base.flexCenter(flex-start, row);
                }

                &__links--social {
                    align-items: flex-start;
                }
            }
        }
    }

    @include base.breakpoint(preview) {
        .background {
            padding-top: 57.5em;
        }
    
        header {
            padding: 4em 5%;
        }

        main {
            .features {
                column-gap: 4em;
            }
        }
    }
}